<div class='container'>
  <div style="display: flex; justify-content: space-between">
    <h1><%= @list.name %></h1>
    <div>
      <%= link_to 'Back', lists_path, class:"btn btn-gradient" %>
      <%= link_to 'Create a new bookmark', new_bookmark_path, class:"btn btn-gradient" %>
    </div>
  </div>

  <h6>There are <%= @filtered_bookmarks.count %> movie(s) attached to this list:</h6>
  <% @filtered_bookmarks.each do |f| %>
    <div class="card-product">
      <img src="https://source.unsplash.com/random/?<%= f.movie.title.gsub(" ", "+") %>" />
      <div class="card-product-infos">
        <h2><%= f.movie.title %> <%= link_to 'ðŸ—‘ï¸',
                                  bookmark_path(f),
                                  method: :delete,
                                  data: {confirm: 'Are you sure?'} %></h2>
        <p><%= f.movie.overview %></p>
      </div>
    </div>
  <% end %>
</div>
