<div class="container">
  <div style="display: flex; justify-content: space-between">
    <h1>My bookmarks</h1>
    <%= link_to 'Create a new bookmark', new_bookmark_path, class:"btn btn-gradient" %>
  </div>
  <% @bookmarks.each do |b| %>
    <div class="card-product">
        <img src="https://source.unsplash.com/random/?<%= b.movie.title %>" />
        <div class="card-product-infos">
          <h2><%= b.movie.title %> (<%= b.list.name %>)</h2>
          <p><%= b.comment %></p>
        </div>
      </div>
  <% end %>
</div>
